header{
    width: 100%;
    padding: 28px 8%;
}
#navbar {
    width: 130%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo {
    
    font-size:24px;
    color:rgb(48, 48, 138)
    
    
}
#nav_list{

    display: flex;
    list-style: none;
    gap: 48px;
}
.nav_item a{
    text-decoration: none;
    color: rgb(48, 48, 138);
    font-weight: 600;
}
.nav_item.active a{
    color:rgb(48, 48, 138);
    border-bottom: 3px solid rgb(48, 48, 138);
}